@import "tailwindcss";

@layer base {
  body {
    @apply text-slate-800 min-h-screen font-sans;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-attachment: fixed;
  }
}

@layer components {
  .glass {
    @apply backdrop-blur-md bg-white/40 border border-white/60 shadow-xl;
  }
  
  .glass-nav {
    @apply backdrop-blur-lg bg-white/60 border-b border-white/40 sticky top-0 z-50;
  }
}
